
<mat-toolbar color="primary">
    <span [className]="setSelectedNav('/home')">
        <a mat-button style="font-size: larger" routerLink="/home" routerLinkActive="active">TeamIT</a>
    </span>
    <span [className]="setSelectedNav('/help')">
        <a i18n="@@Nav_help" mat-button routerLink="/help" routerLinkActive="active">Help</a>
    </span>
    <span [className]="setSelectedNav('/login')">
        <a i18n="@@Nav_login" mat-button routerLink="/login" routerLinkActive="active">Login</a>
    </span>
    <ng-container *ngIf="accountInfo">
        <span [className]="setSelectedNav('/optimization')">
            <a i18n="@@Nav_optimization" mat-button routerLink="/optimization" routerLinkActive="active">Optimization</a>
        </span>
    </ng-container>
    <ng-container *ngIf="accountInfo">
        <span [className]="setSelectedNav('/account')">
            <a i18n="@@Nav_account" mat-button routerLink="/account" routerLinkActive="active">Account</a>
        </span>
    </ng-container>
    <span class="flex-grow-1">
    </span>
    <span class="box32">
        <svg width="32px" height="32px" viewBox="0 0 24.00 24.00" role="img" xmlns="http://www.w3.org/2000/svg" aria-labelledby="languageIconTitle" stroke="#ffffff" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title id="languageIconTitle">Language</title> <circle cx="12" cy="12" r="10"></circle> <path stroke-linecap="round" d="M12,22 C14.6666667,19.5757576 16,16.2424242 16,12 C16,7.75757576 14.6666667,4.42424242 12,2 C9.33333333,4.42424242 8,7.75757576 8,12 C8,16.2424242 9.33333333,19.5757576 12,22 Z"></path> <path stroke-linecap="round" d="M2.5 9L21.5 9M2.5 15L21.5 15"></path> </g></svg>
    </span>
    <span>
        <a mat-button [class.selected-lang]="isEn()" [disabled]="isEn()" style="color:white;" href="{{getChangeLanguageLink()}}">en</a>
    </span>
    <span>
        <a mat-button [class.selected-lang]="!isEn()" [disabled]="!isEn()" style="color:white;" href="{{getChangeLanguageLink()}}">ua</a>
    </span>
</mat-toolbar>
