<mat-toolbar color="primary">
    <span [className]="setSelectedNav('/home')">
        <a mat-button style="font-size: larger" routerLink="/home" routerLinkActive="active">TeamIT</a>
    </span>
    <span [className]="setSelectedNav('/help')">
        <a i18n="@@Nav_help" mat-button routerLink="/help" routerLinkActive="active">Help</a>
    </span>
    <span [className]="setSelectedNav('/login')">
        <a i18n="@@Nav_login" mat-button routerLink="/login" routerLinkActive="active">Login</a>
    </span>
    <ng-container *ngIf="accountInfo">
        <span [className]="setSelectedNav('/optimization')">
            <a i18n="@@Nav_optimization" mat-button routerLink="/optimization" routerLinkActive="active">Optimization</a>
        </span>
    </ng-container>
    <ng-container *ngIf="accountInfo">
        <span [className]="setSelectedNav('/account')">
            <a i18n="@@Nav_account" mat-button routerLink="/account" routerLinkActive="active">Account</a>
        </span>
    </ng-container>
    <span>
        <a mat-button class="" [disabled]="isEn()" href="{{getChangeLanguageLink()}}" routerLink="/login" >en</a>
    </span>
    <span>
        <a mat-button [disabled]="!isEn()" href="{{getChangeLanguageLink()}}" routerLink="/login" >ua</a>
    </span>
</mat-toolbar>
